 body, html {
    margin: 0;
    padding: 0;
	font-family:Century Gothic;
   }
   
.highlight{
  background-color:#8EEBEC;
}
   
.theme{
	min-width: 780px;
	max-width: 1260px;
	margin: 0 auto;
	height:50px;
	margin-top:30px;
	margin-bottom:30px;
	background-color:white;
	color:black;
	border:1px solid;
	border-color:silver;
	box-shadow: 3px 3px 1.5px #C0C0C0;
}
   
.video{
	width:476px;
	margin: 0 auto;
}

.video_three{
	width:364px;
	margin: 0 auto;
}


.title1{
	width:476px;
	margin: 0 auto;
	font-size:20px;
}

.singer1{
	width:476px;
	margin: 0 auto;
	font-size:15px;
}

.title{
	width:364px;
	margin: 0 auto;
	margin-top:10px;
}

.singer{
	width:364px;
	margin: 0 auto;
	font-size:13px;
}

#theme{
	margin-top:-10px;
	color:grey;
}

#top{
	width:600px;
	margin: 0 auto;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-family:Century Gothic;
	background-color:black;	
	opacity:0.8;
	color:white;
	height:400px;
	margin-bottom:30px;
}

#song_three{
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-family:Century Gothic;
	font-size:15px;
	background-color:black;
	opacity:0.8;
	color:white;
	width:380px;
	height:350px;
	border-style:double;
	border-width:3px;
	border-color:black;
	margin-bottom:20px;
	margin-left:15px;
}

#buy{
	margin-top:7px;
	margin-right:7px;
}

#buy1{
	margin-top:10px;
	margin-right:10px;
}



.headline{
font-size: 20px;
color:white;
opacity:0.9;
}

.sub_headline{	
 color:white;
 opacity:0.9;
}

.end{
text-align:right;
color:white;
opacity:0.8;
}

#index_text{
	width: 600px;
    margin: 0 auto;
	margin-top:30px;
}

#whole{
	margin-top:30px;
	min-width: 780px;
	max-width: 1260px;
	margin: 0 auto;
}

#stripe{
	width: 200px;
    margin: 0 auto;
	opacity:0.8;
	
}

#about{
	width: 600px;
	font-size:30px;
	color:grey;
    margin: 0 auto;
}

.cover{
	width:100px;
	height:100px;
	border-radius:15px;
	-moz-border-radius: 15px;
	margin-bottom:-15px;
}


/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
 
.flip-container, .front, .back {
  border-radius:15px;
  -moz-border-radius: 15px;
  width: 100px;
  height: 125px;
  text-align:center;
  font-weight:bold;
  color:#463E3F;
}
 
/* flip speed goes here */
.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
 
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
 
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
 
  transition: 0.6s;
  transform-style: preserve-3d;
 
  position: relative;
}
 
/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
 
  position: absolute;
  top: 0;
  left: 0;
}
 
/* front pane, placed above back */
.front {
  z-index: 2;
}
 
/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}